Scissors cuts Paper
Scissors decapitates Lizard
Paper covers Rock
Lizard poisons Spock
Spock smashes Scissors
Lizard eats Paper
Paper disproves Spock
Spock vaporizes Rock

(and as it always has) Rock crushes Scissors
Rock crushes Lizard
